.userinfo{
	margin-bottom:10px;
}
.userinfo > p{
	text-align:center;
	margin-bottom:5px;
	font-size:15px;
}
.userinfo>p:first-child{
	font-weight: bold;
	font-size:30px;
	text-align:center;
	margin-bottom:10px;
}
.title{
	padding-top: 22px;
	color: #28B0B5;
	font-size: 24px;
}
.title>p{
	color: #CC0000;
	font-size: 15px;
}